{% extends 'admin_layout.html'  %}
{% load humanize %}
{% load static from staticfiles %}
{% block title %}Dashboard | {{ block.super }}{% endblock %}
{% block content %}
   <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-title data-table-list">
                    <div class="basic-tb-hd">
                        <h4>Students Payments </h4>
                    </div>

                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-lg-5 right-aligned">
                            <div class="input-group input-group-rounded">
                                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for token..." name="Search" class="form-control">
                                <span class="input-group-btn small"><button class="btn btn-warning btn-group-right" type="submit"><i class="ti-search"></i></button></span>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="myTable" class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Token</th>
                                    <th>Student Name</th>
                                    <th>Student Index</th>
                                    <th>Service</th>
                                    <th>Payment Option</th>
                                    <th>Amount</th>
                                    <th>Balance</th>
                                    <th>Date Paid</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% if object_list %}
                                {% for pay in object_list %}
                                    <tr>
                                        <td scope="row">{{ pay.token }}</td>
                                        <td>{{ pay.student_full_name }}</td>
                                        <td>{{ pay.student_id }}</td>
                                        <td>{{ pay.service_to_pay }}</td>

                                        {% if pay.pay_with == 'MTN' %}
                                            <td class="center"><span><img src="{% static 'images/mtnlogo.jpg' %}" height="40" width="60"></span></td>
                                        {% elif pay.pay_with == 'Voda' %}
                                            <td><span><img src="{% static 'images/vodalogo.jpg' %}" height="40" width="60"></span></td>
                                        {% elif pay.pay_with == 'Tigo' %}
                                            <td><span><img src="{% static 'images/tigologo.png' %}" height="40" width="60"></span></td>
                                        {% elif pay.pay_with == 'Air' %}
                                            <td><span><img src="{% static 'images/airtellogo.jpg' %}" height="40" width="60"></span></td>
                                        {% elif pay.is_card == True %}
                                            <td><span><img src="{% static 'images/card.png' %}" height="40" width="60"></span></td>
                                        {% endif %}

                                        <td>{{ pay.amount | intcomma }}</td>
                                        <td>{{ pay.balance | intcomma }}</td>
                                        <td>{{ pay.paid_at | naturaltime }}</td>
                                        <td class="color-primary">
                                            {% if not pay.is_verified %}
                                            <a href="{% url 'admins:payment-verify' pay.token 'verified' %}" class="btn btn-success">
                                                <span> Verify</span>
                                            </a>
                                            {% endif %}
{#                                            <a href="{% url 'admins:payment-cancel' pay.token 'cancel' %}" class="btn btn-danger">#}
{#                                                <span class="ti-close"></span>#}
{#                                            </a>#}
                                        </td>


                                    </tr>
                                {% endfor %}
                            {% else %}
                                This is no payment records
                            {% endif %}
                            </tbody>
                        </table>
                        <div align="right">
                    {% if is_paginated %}
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li><a href="?page={{ page_obj.previous_page_number }}"><span class="btn btn-success ti ti-angle-double-left"></span></a></li>
                        {% else %}
                            <li class="disabled"><span class="btn btn-warning ti ti-angle-double-left"></span></li>
                        {% endif %}
                        {% for i in paginator.page_range %}
                            {% if page_obj.number == i %}
                                <li class="active"><span class="btn btn-outline-warning">{{ i }} <span class="sr-only">(current)</span></span></li>
                            {% else %}
                                <li><a href="?page={{ i }}"><span class="btn btn-success">{{ i }}</span></a></li>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li><a href="?page={{ page_obj.next_page_number }}"><span class="btn btn-success ti ti-angle-double-right"></span></a></li>
                        {% else %}
                            <li class="disabled"><span class="btn btn-warning ti ti-angle-double-right"></span></li>
                        {% endif %}
                    </ul>
                {% endif %}
                </div>
                    </div>
                </div>
            </div>
        </div>


   </div>
{% endblock %}
{% block js %}
    <script>
        function myFunction() {
          // Declare variables
          var input, filter, table, tr, td, i, txtValue;
          input = document.getElementById("myInput");
          filter = input.value.toUpperCase();
          table = document.getElementById("myTable");
          tr = table.getElementsByTagName("tr");

          // Loop through all table rows, and hide those who don't match the search query
          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
              txtValue = td.textContent || td.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }
          }
        }
    </script>
{% endblock %}