{% extends 'admin_layout.html' %}
{% load static from staticfiles %}
{% block title %}Settings | {{ block.super }}{% endblock %}
{% load pay_tags %}
{% block content %}
    <div class="row">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-title">
                    <h4>Admin Users</h4>

                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Email</th>
                                    <th>Last Login</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>

                            </thead>
                            <tbody>
                                {% if admins %}
                                    {% for user in admins %}
                                        <tr>
                                            <td>{{ user.email }}</td>
                                            <td>{{ user.last_login }}</td>
                                            {% if user.is_active %}
                                                <td><span class="badge badge-success"><i class="ti-heart"></i></span></td>
                                            {% else %}
                                                <td><span class="badge badge-dark"><i class="ti-heart"></i></span></td>
                                            {% endif %}
                                            {% if user.is_active %}
                                                <td><a href="{% url 'admins:deactive' code=user.user_id status='deactive' %}" class="badge badge-danger"><span class="ti-power-off"></span></a></td>
                                            {% else %}
                                                <td><a href="{% url 'admins:active' code=user.user_id status='active' %}" class="badge badge-success"><span class="ti-power-off"></span></a></td>
                                            {% endif %}

                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% if user.user_type == 'ASU' %}
            <div class="col-lg-4 ">
                <div class="card">
                    <div class="card-title">Create Sub Admin</div>
                    <div class="card-body">
                        {% user_form %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-9 col-sm-9">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card bg-primary">
                        <div class="weather-widget">
                            Users Complaints and Feedback
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="testimonial-widget-one">
                            <div class="testimonial-widget-one owl-carousel owl-theme">
                                {% if complaints %}
                                    {% for complaint in complaints %}
                                        <div class="item">
                                            <div class="testimonial-content">

                                                <div class="testimonial-text">
                                                    <i class="fa fa-quote-left"></i> {{ complaint.message }}
                                                    <i class="fa fa-quote-right"></i>
                                                </div>

                                                <div class="testimonial-author">{{ complaint.report_by.get_full_name }}</div>
                                                <div class="testimonial-author-position">{{ complaint.date_created }}</div>
                                                <img class="testimonial-author-img" src="{% if complaint.report_by.user_profile %}{{ complaint.report_by.user_profile.url }}{% else %}{% static 'images/avatar/1.jpg' %}{% endif %}" alt="" />
                                                {% if not complaint.is_resolve %}
                                                    <div align="left"><a href="{% url 'admins:resolve' id=complaint.id status='resolved' %}" class="badge badge-success"><span class="ti ti-check"></span></a> </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12">
                    <div class="card">
                        <div class="header-title">Create A Faculty</div><br><br>
                        <div class="form-group">
                            {% faculty_form %}
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- /# column -->
        <div class="col-lg-8">
            <div class="card">
                <div class="card-title pr">
                    <h4>Web Users</h4>

                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table student-data-table m-t-20">
                            <thead>
                                <tr>
                                    <th>Full Name</th>
                                    <th>Status</th>
                                    <th>Email</th>
                                    <th>Actions</th>

                                </tr>
                            </thead>
                            <tbody>
                            {% if app_users %}
                                {% for user in app_users %}
                                    <tr>
                                        <td>{{ user.get_full_name }}</td>
                                        <td>{% if user.is_active %}<span class="ti ti-check"></span>{% else %}<span class="ti ti-close"></span>{% endif %}</td>
                                        <td>
                                            {{ user.email }}
                                        </td>
                                        <td>
                                           <a href="{% url 'admins:user-detail' user.user_id %}"><span class="ti ti-eye"></span></a>
                                        </td>


                                    </tr>
                                {% endfor %}
                            {% else %}
                                Nothing to show
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /# column -->
    </div>
{% endblock %}