{% extends 'admin_layout.html' %}
{% load static from staticfiles %}
{% load pay_tags %}
{% block title %}Services | {{ block.super }}{% endblock %}
{% block content %}

    <div class="row">
        {% if object_list %}
            {% for service in object_list %}
                <div class="col-lg-3 col-sm-6 col-md-6">
                    <div class="card">
                        <div align="right">
                            <span class="dropup"></span><a href="#" class="ti-more-alt dropdown" data-toggle="dropdown"></a>
                            <ul class="dropdown-menu">
                                <!--<li class="dropdown-header">Options</li>-->
                                <li><a href="{% url 'admins:service-update' service.id %}">Edit</a></li>
                                <li class="sweetalert"><a href="#" class="sweet-confirm">Delete</a></li>
                            </ul>
                        </div>

                        <div class="stat-widget-one">
                            {% if service.logo %}
                                <div class="stat-icon dib"><img src="{{ service.logo.url }}" height="60" width="60" border="1" /> </div>
                            {% else %}
                                <div class="stat-icon dib"><img src="{% static 'images/default.png' %}" height="60" width="60" border="1" /> </div>
                            {% endif %}
                            <div class="stat-content dib">
                                <div class="stat-text">{{ service.service_name }}</div>
                                <div class="stat-digit" style="font-size: 17px;">{{ service.currency }} {{ service.amount }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        <div class="col-lg-3">
            <a href="#" data-toggle="modal" data-target="#addService">
                <div class="card">
                    <div class="stat-widget-one">
                        <div class="stat-icon dib"><i class="ti-new-window color-primary border-primary"></i></div>
                        <div class="stat-content dib">
                            <div class="stat-text center-align">Click to add new</div>

                        </div>
                    </div>
                </div>
            </a>

        </div>
    </div>
    <!-- Modal -->
<div class="modal fade l" id="addService" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add Service</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% service_form %}
      </div>
    </div>
  </div>
</div>
{% endblock %}