{% extends 'admin_layout.html' %}
{% load static from staticfiles %}
{% block title %}Update {{ object.service_name }} | {{ block.super }}{% endblock %}
{% block content %}
    <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-body">
                  <div class="user-profile">
                    <div class="row">
                      <div class="col-lg-4">
                        <div class="user-photo m-b-30">
                          <img class="img-fluid" src="{% if not object.logo %}{% static 'images/Picture1.png' %}{% else %}{{ object.logo.url }}{% endif %}" style="border-radius: 10px" alt="" />
                        </div>
                      </div>
                      <div class="col-lg-8">
                        <div class="user-profile-name">{{ object.service_name }}</div>
                        <div class="user-Location">
                          <i class="ti-key"></i> {{ object.account_number }}
                        </div>
                        <div class="user-job-title">{{ object.amount }}</div>
                        <div class="custom-tab user-profile-tab">
                          <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                              <a href="#1" aria-controls="1" role="tab" data-toggle="tab">Edit {{ object.service_name }}</a>
                            </li>
                          </ul>
                          <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="1">
                              <div class="contact-information">
                                <form action="{% url 'admins:service-update' object.id %}" method="post" enctype='multipart/form-data'>
                                    {% csrf_token %}
                                    <div class="form-group">
                                      <label class="contact-title">Service Name:</label>
                                      <input type="text" class="form-control input-rounded" name="{{ form.service_name.name }}" value="{{ form.service_name.value }}" />
                                    </div>
                                    <div class="form-group">
                                      <label class="contact-title">Account Number:</label>
                                      <input type="text" class="form-control input-rounded" name="{{ form.account_number.name }}" value="{{ form.account_number.value }}" />
                                    </div>
                                    <div class="form-group">
                                      <label class="contact-title">Bank Name:</label>
                                      <input type="text" class="form-control input-rounded" name="{{ form.bank_name.name }}" value="{{ form.bank_name.value }}" />
                                    </div>
                                    <div class="form-group">
                                      <label class="contact-title">Currency:</label>
                                      <select class="form-control input-rounded" name="{{ form.currency.name }}">
                                          {% for x,y in form.fields.currency.choices %}
                                            <option value="{{ x }}" {% if form.currency.value == x %} selected {% endif %}>{{ y }}</option>
                                          {% endfor %}
                                      </select>
                                    </div>
                                    <div class="form-group">
                                      <label class="contact-title">Amount:</label>
                                      <input type="number" class="form-control input-rounded" name="{{ form.amount.name }}" value="{{ form.amount.value }}" />
                                    </div>
                                    <div class="form-group">
                                      <label class="contact-title">Logo:</label>
                                      <input type="file" name="{{ form.logo.name }}" value="{{ form.logo.url }}" />
                                    </div>
                                    <input type="submit" class="btn btn-success" value="Save">
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
{% endblock %}