{% load static from staticfiles %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Login{% endblock %}</title>

     <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="{% static 'images/Picture1.png' %}">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'images/Picture1.png' %}">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/Picture1.png' %}">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/Picture1.png' %}">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'images/Picture1.png' %}">

    <!-- Styles -->
    <link href="{% static 'css/lib/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/lib/themify-icons.css' %}" rel="stylesheet">
    <link href="{% static 'css/lib/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/lib/helper.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <style>
        @media (max-width: 767px) {
            .styleName {
                display:none;
            }
        }
    </style>
</head>

<body style="background-color: #1a237e; background-size: 1400px">

    <div class="unix-login">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12">
                    <div class="center" align="center" style="margin-top: 20px">
                        <img src="{% static 'images/Picture1.png' %}" width="100" height="90" style="margin-top: -20px" > <span class="font-weight-bold" style="font-size: 50px; color: white; margin-top: 20px">GTUC Pay</span>
                    </div>
                </div>
                <div class="col-lg-11 col-sm-11 col-md-11" style="margin-left: 2%; margin-right: 0; margin-bottom: 40px">
                    <div class="card h-100">
                        <div class="row">
                            <div class="card-image">
                                {% block image %}
                                <div class="col-lg-8 styleName" ><img src="{% static 'images/loginimg.JPG' %}" height="600" width="700" style="border-radius: 20px" /> </div>
                                {% endblock %}
                            </div>

                            <div class="col-lg-4">
                                <div class="row" {% block col_m %}style="margin-left: 20px"{% endblock %}>
                                    <div class="col-md-12">
                                        <div class="card-title header-title"><h3>{% block header %}Login{% endblock %}</h3></div>
                                        <span class="text-muted">{% block desc %}Enter your email and password to login {% endblock %}</span>
                                    </div>
                                    <div class="col-lg-12" {% block f_style %}style="margin-top: 100px"{% endblock %}>
                                        <form method="post" action={% block action %}"{% url 'users:login' %}"{% endblock %}>
                                            {% csrf_token %}
                                            {% bootstrap_form form %}
                                            <div align="center">
                                                <input type="submit" value="{% block btn %}Login{% endblock %}" class="btn btn-primary">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-lg-12" {% block ed %}style="margin-top: 70px"{% endblock %}>
                                        <span class="text-muted">{% block ed_t %}New here? Just one step away to easy payments. <a href="{% url 'users:signup' %}">Sign up!</a> {% endblock %}</span>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>