{% extends 'admin_layout.html' %}
{% load bootstrap3 %}
{% block title %} Password | {{ block.super }} {% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div style="margin-left: 80px; margin-right: 80px" class="card">
                <div class="header-title"><h4>Change your password</h4></div>
                <div class="text-muted">Change your password frequently to secure your account</div><br><br>
                <form method="post">
                    {% csrf_token %}
                     <div class="text-danger">
                        {% if form.errors %}
                            <p class="errornote">
                                {% if form.errors.items|length == 1 %}Please correct the error below{% else %}Please correct the errors below{% endif %}
                            </p>
                        {% endif %}
                    </div>
                    <div>
                        <p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you entered it correctly</p>
                        <fieldset class="module aligned">
                            <div>
                                {{ form.old_password.errors }}
                                {% bootstrap_form form %}
                            </div>
                        </fieldset>
                    </div>
                    <div class="submit-row">
                        <input type="submit" value="Change my password" class="btn btn-default">
                    </div>
                </form>

            </div>
        </div>
    </div>
{% endblock %}