{% load bootstrap3 %}
<form action="{% url 'admins:service-create' %}" method="post" enctype='multipart/form-data'>
    {% csrf_token %}
    <div class="form-group row">
        <div class="input-field col-lg-6 col-sm-6">
            <label for="service_name">Service Name</label>
            <input type="text" class="form-control input-rounded" name="service_name">
        </div>
        <div class="input-field col-lg-6 col-sm-6">
            <label for="amount">Amount</label>
            <input type="number" class="form-control input-rounded" name="amount">
        </div>
    </div>
    <hr>
    <div class="form-group row">
        <div class="input-field col-lg-6 col-sm-6">
            <label for="account_number">Account Number</label>
            <input type="text" class="form-control input-rounded" name="account_number">
        </div>
        <div class="input-field col-lg-4 col-sm-6">
            <label for="account_number">Bank Name</label>
            <input type="text" class="form-control input-rounded" name="bank_name">
        </div>

    </div>
    <hr>
    <div class="form-group row">
        <div class="input-field col-lg-4 col-sm-4">
            <label for="currency">Currency</label>
            <select class="form-control input-rounded" name="{{ form.currency.name }}">
              {% for x,y in form.fields.currency.choices %}
                <option value="{{ x }}">{{ y }}</option>
              {% endfor %}
            </select>
        </div>
        <div class="input-field col-lg-8 col-sm-8">
            <label for="service_name">Service Logo</label>
            <input type="file" name="logo">
        </div>
    </div>
    <input type="submit" class="btn btn-success" value="Submit">
</form>