{% load static from staticfiles %}
<img src="https://images.unsplash.com/photo-1550867458-8181a6336615?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80" height="300" width="600" />
<p>Hi {{ new_user.get_full_name }}</p>

<p>You have been invited to be an admin on GTUC Pay Admin Portal. Please use the following credentials to login at <a href="http://localhost:8000/users/login/"> GTUC Pay Admin</a></p>

<p>
    Email : {{ new_user.email }} <br>
    Password : {{ new_user.password }}
</p>

<p>
    You are welcome,<br>
    Moon Knights!
</p>