{% extends 'layout.html' %}
{% load bootstrap3 %}
{% block title %} Support | {{ block.super }} {% endblock %}
{% block header %}Support{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-title">Guidelines</div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-title">Contact for support</div>
                <form action="{% url 'pay:support' %}" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <input type="submit" value="Submit" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
{% endblock %}