
{% load static from staticfiles %}
{% if user.user_type == 'AOU' or user.user_type == 'ASU' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}GTUC Pay Admin{% endblock %}</title>

    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="{% static 'images/Picture1.png' %}">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'images/Picture1.png' %}">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/Picture1.png' %}">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/Picture1.png' %}">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'images/Picture1.png' %}">

    <!-- Styles -->
    <link href="{% static 'css/lib/owl.carousel.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/lib/owl.theme.default.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/lib/weather-icons.css' %}" rel="stylesheet" />
    <link href="{% static 'css/lib/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/lib/themify-icons.css' %}" rel="stylesheet">
    <link href="{% static 'css/lib/menubar/sidebar.css' %}" rel="stylesheet">
    <link href="{% static 'css/lib/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/lib/helper.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/jquery.dataTables.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/lib/sweetalert/sweetalert.css' %}" rel="stylesheet">
    <script src="{% static 'js/scripts.js' %}"></script>
</head>

<body>

    <div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
        <div class="nano">
            <div class="nano-content">
                <div class="logo"><a href="{% url 'users:dashboard' %}"><img src="{% static 'images/Picture1.png' %}" width="65" height="60" alt="" /><span>GTUC Pay</span></a></div>
                <ul>
                    <li><a href="{% url 'users:dashboard' %}"><i class="ti-money"></i> Payments </a></li>
                    <li><a href="{% url 'admins:service-list' %}"><i class="ti-rss-alt"></i> Services</a></li>
                    <li><a href="{% url 'users:profile' user.id %}"><i class="ti-user"></i> Profile</a></li>
                    <li><a href="{% url 'admins:settings' %}"><i class="ti-layout-grid2-alt"></i> Settings</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="float-left">
                        <div class="hamburger sidebar-toggle">
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                        </div>
                    </div>
                    <div class="float-right">
                        <div class="dib">
                            <div class="header-icon">
                                <a href="{% url 'users:profile' user.id %}" title="Click to view user profile" class="user-avatar">{{ user.get_short_name }}
                                    <img src="{% if user.user_profile %}{{ user.user_profile.url }}{% else %}{% static 'images/Picture1.png' %}{% endif %}" width="40" height="40" style="border-radius: 100px; border: 2px" class=user-photo" />
                                </a>
                                &nbsp;&nbsp;&nbsp;
                                <a href="{% url 'users:logout' %}" title="Click to logout" class="user-avatar">
                                    <i class=" ti-power-off"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 p-r-0 title-margin-right">
                        <div class="page-header">
                            <div class="page-title">
                                <h1>Hello {{ user.get_full_name }} ({{ user.get_user_type_display }}) , <span>Welcome to GTUC Pay Admin Portal</span></h1>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /# row -->
                <section id="main-content">
                    {% block content %}
                    {% endblock %}

                </section>
            </div>
        </div>
    </div>
    {% block js %}{% endblock %}
    <!-- jquery vendor -->
    <script src="{% static 'js/lib/jquery.min.js' %}"></script>
    <script src="{% static 'js/lib/jquery.nanoscroller.min.js' %}"></script>
    <!-- nano scroller -->
    <script src="{% static 'js/lib/menubar/sidebar.js' %}"></script>
    <script src="{% static 'js/lib/preloader/pace.min.js' %}"></script>
    <!-- sidebar -->
    
    <!-- bootstrap -->
    <script src="{% static 'js/lib/bootstrap.min.js' %}"></script><script src="{% static 'js/scripts.js' %}"></script>
    <!-- scripit init-->
    <script src="{% static 'js/lib/weather/jquery.simpleWeather.min.js' %}"></script>
    <script src="{% static 'js/lib/weather/weather-init.js' %}"></script>
    <script src="{% static 'js/lib/circle-progress/circle-progress.min.js' %}"></script>
    <script src="{% static 'js/lib/circle-progress/circle-progress-init.js' %}"></script>
    <script src="{% static 'js/lib/chartist/chartist.min.js' %}"></script>
    <script src="{% static 'js/lib/sparklinechart/jquery.sparkline.min.js' %}"></script>
    <script src="{% static 'js/lib/sparklinechart/sparkline.init.js' %}"></script>
    <script src="{% static 'js/lib/owl-carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/lib/owl-carousel/owl.carousel-init.js' %}"></script>
    <script src="{% static 'js/lib/sweetalert/sweetalert.init.js' %}"></script>
    <script src="{% static 'js/lib/sweetalert/sweetalert.min.js' %}"></script>
    <script src="{% static 'js/lib/calendar-2/moment.latest.min.js' %}"></script>
    <script src="{% static 'js/lib/calendar-2/pignose.calendar.min.js' %}"></script>
    <script src="{% static 'js/lib/calendar-2/pignose.init.js' %}"></script>
    <script src="{% static 'js/data-table/data-table-act.js' %}"></script>
    <script src="{% static 'js/data-table/jquery.dataTables.min.js' %}"></script>

    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="{% static 'js/dashboard2.js' %}"></script>


</body>

</html>
{% else %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>Error</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/cover/">

    <!-- Bootstrap core CSS -->
<link href="{% static 'css/lib/bootstrap.min.css' %}" rel="stylesheet">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="{% static 'css/cover.css' %}" rel="stylesheet">
  </head>
  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand center"><img src="{% static 'images/Picture1.png' %}" height="90" width="100"> GTUC Pay</h3>
{#      <nav class="nav nav-masthead justify-content-center">#}
{#        <a class="nav-link active" href="#">Home</a>#}
{#        <a class="nav-link" href="#">Features</a>#}
{#        <a class="nav-link" href="#">Contact</a>#}
{#      </nav>#}
    </div>
  </header>

  <main role="main" class="inner cover">
    <h1 class="cover-heading">Oops...</h1>
    <p class="lead">Hi {{ user.get_full_name }}, {{ user.get_user_type_display }}, You are trying to access a page you are not allowed to view.</p>
    <p class="lead">
    <a href="{% url 'users:dashboard' %}" class="btn btn-compose">Go Back to Your Dashboard</a>
    </p>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Developed by <img src="{% static 'images/default.png' %}" width="20" height="20"> Moon Projects</p>
    </div>
  </footer>
</div>
</body>
</html>

{% endif %}