{% load static from staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>GTUC Pay</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/cover/">

    <!-- Bootstrap core CSS -->
<link href="{% static 'css/lib/bootstrap.min.css' %}" rel="stylesheet">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="{% static 'css/cover.css' %}" rel="stylesheet">
  </head>
  <body style="background: linear-gradient(rgba(176,231,10,0.45), rgba(255, 0, 0, 0.45)), url({% static 'images/bgimg.JPG' %}) no-repeat; width: 100%; height: 100%;" class="text-center" >
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand center"><img src="{% static 'images/Picture1.png' %}" height="90" width="100"> GTUC Pay</h3>
{#      <nav class="nav nav-masthead justify-content-center">#}
{#        <a class="nav-link active" href="#">Home</a>#}
{#        <a class="nav-link" href="#">Features</a>#}
{#        <a class="nav-link" href="#">Contact</a>#}
{#      </nav>#}
    </div>
  </header>

  <main role="main" class="inner cover">
    <h1 class="cover-heading">Let's get you started...</h1>
    <p class="lead">GTUC Pay is a platform for students and their sponsors to pay for all their university fees with ease. No hustle, no stress. Get your groove on!</p>
    <p class="lead">
    <a href="{% url 'users:login' %}" class="btn btn-dark">Login</a>&nbsp;&nbsp;<a href="{% url 'users:signup' %}" class="btn btn-dark">Join us</a>
    </p>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Developed by <img src="{% static 'images/default.png' %}" width="20" height="20"> Moon Projects</p>
    </div>
  </footer>
</div>
</body>
</html>
