{% load bootstrap3 %}
<form action="{% url 'admins:create' %}" method="post">
    {% csrf_token %}
    <span class="text-muted">{% bootstrap_form form %}</span>
    <input type="submit" class="btn btn-dark" value="Create">
</form>