{% extends 'layout.html' %}
{% load static from staticfiles %}
{% block header %}GTUC Pay{% endblock %}
{% block content %}
    <div class="row">
        {% if object_list %}
            {% for service in object_list %}
                <div class="col-sm-5 col-lg-3 col=md-3">
                    <a href="{% url 'pay:service-detail' service.id %}">
                        <div class="card">
                            <div class="stat-widget-one">
                                {% if service.logo %}
                                    <div align="center"><img src="{{ service.logo.url }}" height="140" width="150" border="1" /> </div>
                                {% else %}
                                    <div align="center"><img src="{% static 'images/default.png' %}" height="140" width="150" border="1" /> </div>
                                {% endif %}
                                <div align="center">
                                    <div class="stat-digit" style="font-size: 17px;">Pay {{ service.service_name }}</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}