{% extends 'layout.html' %}
{% block title %}Logout? | {{ block.super }}{% endblock %}
{% block content %}
    <div class="container pt">
        <div class="row">
            <div class="col-md-6">
                <h3>Logout?</h3>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <p>Are you sure you want to logout?</p>
                    <button type="submit" class="btn btn-deeporange">Logout</button>
                </form>
            </div>
            <div class="col-md-6">
                <h3>Come back soon!</h3>
                <p>Good work today!
            </div>
        </div>
    </div>
{% endblock %}