{% extends 'layout.html' %}
{% load static from staticfiles %}
{% block title %}{{ object.get_full_name }}'s Profile | {{ block.super }}{% endblock %}
{% block content %}
    <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-body">
                  <div class="user-profile">
                    <div class="row">
                      <div class="col-lg-4">
                        <div class="user-photo m-b-30">
                          <img class="img-fluid" src="{% if not object.user_profile %}{% static 'images/Picture1.png' %}{% else %}{{ object.user_profile.url }}{% endif %}" style="border-radius: 10px" alt="" />
                        </div>
                      </div>
                      <div class="col-lg-8">
                        <div class="user-profile-name">{{ object.get_full_name }}</div>
                        <div class="row">
                            <div class="col-lg-6">
                                {% if object.is_superuser %}<i class="ti-key"></i>  Super User {% endif %}
                            </div>
                             <div class="col-lg-6" align="right">
                                <a href="{% url 'users:password' %}" class="btn btn-dark"><span class="ti ti-key"></span>&nbsp; Password Reset</a>
                            </div>

                        </div>
                        <div class="user-job-title">{{ object.get_user_type_display }}</div>
                        <div class="custom-tab user-profile-tab">
                          <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                              <a href="#1" aria-controls="1" role="tab" data-toggle="tab">Edit Profile</a>
                            </li>
                          </ul>
                          <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="1">
                              <div class="contact-information">
                                <form action="{% url 'admins:profile' object.id %}" method="post" enctype='multipart/form-data'>
                                    {% csrf_token %}
                                    <div class="form-group">
                                      <label class="contact-title">First Name:</label>
                                      <input type="text" class="form-control input-rounded" name="{{ form.first_name.name }}" value="{{ form.first_name.value }}" />
                                    </div>
                                    <div class="form-group">
                                      <label class="contact-title">Last Name:</label>
                                      <input type="text" class="form-control input-rounded" name="{{ form.last_name.name }}" value="{{ form.last_name.value }}" />
                                    </div>
                                    <div class="form-group">
                                      <label class="contact-title">Email Address:</label>
                                      <input type="email" class="form-control input-rounded" name="{{ form.email.name }}" value="{{ form.email.value }}" />
                                    </div>
                                    <div class="form-group">
                                      <label class="contact-title">Date of Birth:</label>
                                      <input type="date" class="form-control input-rounded vDateField" name="{{ form.date_of_birth.name }}" value="{{ form.date_of_birth.value }}" />
                                    </div>
                                    <div class="form-group">
                                        <label class="contact-title">Gender:</label>
                                        <select class="form-control input-rounded" name="{{ form.gender.name }}">
                                              {% for x,y in form.fields.gender.choices %}
                                                <option value="{{ x }}" {% if form.gender.value == x %} selected {% endif %}>{{ y }}</option>
                                              {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                      <label class="contact-title">Profile Picture:</label>
                                      <input type="file" name="{{ form.user_profile.name }}" value="{{ form.user_profile.url }}" />
                                    </div>
                                    <input type="submit" class="btn btn-success" value="Save">
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
{% endblock %}