{% extends 'registration/login.html' %}
{% load static from staticfiles %}
{% block image %}
    <div class="col-lg-8 styleName" ><img src="{% static 'images/signup.jpg' %}" width="700" height="900" style="border-radius: 10px" /> </div>
{% endblock %}
{% block header %}Signup{% endblock %}
{% block desc %} Signup to enjoy paying for university fees easily {% endblock %}
{% block action %}"{% url 'users:signup' %}"{% endblock %}
{% block btn %}Signup{% endblock %}
{% block f_style %}style="margin-top: 20px"{% endblock %}
{% block col_m %}style="margin-left: 0"{% endblock %}
{% block ed %}style="margin-top: 20px"{% endblock %}
{% block ed_t %}Already have an account? <a href="{% url 'users:login' %}">Login!</a> {% endblock %}
{% block title %}Signup{% endblock %}
{% block form %}
{#    <div class="form-group">#}
{#        <div class="input-field">#}
{#            <label for="email">Email Address</label>#}
{#            <input type="email" name="{{ form.email.name }}" required class="form-control input-rounded">#}
{#        </div>#}
{#    </div>#}
{#    <div class="form-group">#}
{#        <div class="input-field">#}
{#            <label for="first_name">First Name</label>#}
{#            <input type="text" name="{{ form.first_name.name }}" required class="form-control input-rounded">#}
{#        </div>#}
{#    </div>#}
{#    <div class="form-group">#}
{#        <div class="input-field">#}
{#            <label for="last_name">Last Name</label>#}
{#            <input type="text" name="{{ form.last_name.name }}" required class="form-control input-rounded">#}
{#        </div>#}
{#    </div>#}
{#    <div class="form-group">#}
{#        <div class="input-field">#}
{#            <label for="last_name">Gender</label>#}
{#            <select class="form-control input-rounded" required name="{{ form.gender.name }}">#}
{#                {% for x,y in form.fields.gender.choices %}#}
{#                    <option value="{{ x }}">{{ y }}</option>#}
{#                {% endfor %}#}
{#            </select>#}
{#        </div>#}
{#    </div>#}
{#    <div class="form-group">#}
{#        <div class="input-field">#}
{#            <label for="date_of_birth">Date of Birth</label>#}
{#            <input type="date" name="{{ form.date_of_birth.name }}" required class="form-control input-rounded">#}
{#        </div>#}
{#    </div>#}
{#    <div class="form-group">#}
{#        <div class="input-field">#}
{#            <label for="date_of_birth">Password</label>#}
{#            <input type="password" name="{{ form.password1.name }}" required class="form-control input-rounded">#}
{#        </div>#}
{#    </div>#}
{#    <div class="form-group">#}
{#        <div class="input-field">#}
{#            <label for="date_of_birth">Password Again</label>#}
{#            <input type="password" name="{{ form.password2.name }}" required class="form-control input-rounded">#}
{#        </div>#}
{#    </div>#}
{#    {% if form.non_field_errors %}#}
{#        <ul class='form-errors'>#}
{#            {% for error in form.non_field_errors %}#}
{#                <li><span class="dz-error-message text-danger">{{ error }}</span></li>#}
{#            {% endfor %}#}
{#        </ul>#}
{#    {% endif %}#}
{% endblock %}