<form action="#" method="post">
    {% csrf_token %}
    {{ object }}
    <div class="form-group">
      <label class="contact-title">Student Full Name:</label>
      <input type="text" class="form-control input-rounded" name="{{ form.student_full_name.name }}" required />
    </div>
    <div class="form-group">
      <label class="contact-title">Student ID:</label>
      <input type="text" class="form-control input-rounded" name="{{ form.student_id.name }}" required />
    </div>
    <div class="form-group">
      <label class="contact-title">Student Level:</label>
      <select class="form-control input-rounded" name="{{ form.level.name }}">
          {% for x,y in form.fields.level.choices %}
            <option value="{{ x }}">{{ y }}</option>
          {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label class="contact-title">Student Programme of Study:</label>
      <select class="form-control input-rounded" name="{{ form.student_programme.name }}">
          {% for x,y in form.fields.student_programme.choices %}
            <option value="{{ x }}">{{ y }}</option>
          {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label class="contact-title">Student Faculty:</label>
      <select class="form-control input-rounded" name="{{ form.student_faculty.name }}">
          {% for x,y in form.fields.student_faculty.choices %}
            <option value="{{ x }}">{{ y }}</option>
          {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label class="contact-title">Payment Option:</label>
      <select class="form-control input-rounded" name="{{ form.pay_with.name }}">
          <option>Vodafone Cash</option>
          <option>Tigo Cash</option>
          <option>MTN Money</option>
          <option>Airtel Money</option>
      </select>
    </div>
    <div class="form-group">
      <label class="contact-title">Mobile Number:</label>
      <input type="text" class="form-control input-rounded" name="{{ form.mobile_number.name }}" />
    </div>
    <div class="form-group">
      <label class="contact-title">Service to pay:</label>
      <input type="text" class="form-control input-rounded" name="{{ form.service_to_pay.name }}" value="{{ service.service_name }}" placeholder="{{ object.service_name.value }}" />
    </div>
</form>

{{ form }}