{% extends 'layout.html' %}
{% block title %}
    Confirm your payment!
{% endblock %}
{% block header %} Confirm Payment for {{ object.service_to_pay.service_name }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12" style="margin-left: 5%; margin-right: 5%">
            <div class="card">
                <div class="card-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="student_full_name" class="text-muted">Student Full Name</label>
                            <input type="text" name="{{ form.student_full_name.name }}" value="{{ form.student_full_name.value }}" class="form-control input-rounded" />
                        </div>
                        <div class="form-group">
                            <label for="student_id" class="text-muted">Student Index Number 1</label>
                            <input type="text" name="{{ form.student_id.name }}" value="{{ form.student_id.value }}" class="form-control input-rounded" placeholder="Please enter the index number the student you are paying for" />
                        </div>
                        <div class="form-group">
                          <label for="level">Student Level:</label>
                          <select class="form-control input-rounded" name="{{ form.level.name }}">
                              {% for x,y in form.fields.level.choices %}
                                <option value="{{ x }}" {% if form.level.value == x %} selected {% endif %}>{{ y }}</option>
                              {% endfor %}
                          </select>
                        </div>
                        <div class="form-group">
                          <label for="student_programme">Student Programme of Study:</label>
                          <select class="form-control input-rounded" name="{{ form.student_programme.name }}">
                              {% for x,y in form.fields.student_programme.choices %}
                                <option value="{{ x }}" {% if form.student_programme.value == x %} selected {% endif %}>{{ y }}</option>
                              {% endfor %}
                          </select>
                        </div>
                        <div class="form-group">
                            <label for="student_faculty" class="text-muted">Student Faculty</label>
                            <select class="form-control input-rounded" name="{{ form.student_faculty.name }}">
                                  {% for x,y in form.fields.student_faculty.choices %}
                                    <option value="{{ x }}" {% if form.student_faculty.value == x %} selected {% endif %}>{{ y }}</option>
                                  {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="text-muted">Amount</label>
                            <input type="number" name="{{ form.amount.name }}" value="{{ form.amount.value }}" class="form-control input-rounded" placeholder="Please enter the amount you are paying" />
                        </div>
                        <div class="form-group">
                          <label class="contact-title">Card Number</label>
                            <input type="text" name="{{ form.card_number.name }}" value="{{ form.card_number.value }}" class="form-control input-rounded" placeholder="Please enter the card number" />
                        </div>
                        <div class="form-group">
                          <label class="contact-title">CVV</label>
                          <input type="text" class="form-control input-rounded" value="{{ form.cvv.value }}" name="{{ form.cvv.name }}" placeholder="Enter the mobile money number" />
                        </div>
                        <div class="form-group">
                          <label class="contact-title">Expiry Date:</label>
                            {{ form.expiry_date }}
                        </div>

{#                                {{ form.as_p }}#}
                        {% if form.non_field_errors %}
                            <ul class='form-errors'>
                                {% for error in form.non_field_errors %}
                                    <li><span class="dz-error-message text-danger">{{ error }}</span></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <div class="text-muted text-primary"><i>After clicking on confirm, a token would be sent to your email for verification!</i></div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <input type="submit" class="btn btn-success" value="Confirm Payment">
                    </form>
                            </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <form method="post" action="{% url 'pay:cancel' object.id %}">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-danger" value="Cancel">
                    </form>
                </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}