{% extends 'layout.html' %}
{% load static from staticfiles %}
{% load pay_tags %}
{% block header %} Pay for {{ object.service_name }} {% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <div class="user-profile">
                <div class="row">
                  <div class="col-lg-6 styleName">
                    <div class="user-photo m-b-30">
                      <img class="img-fluid" src="{% if object.logo %}{{ object.logo.url }}{% else %}{% static 'images/user-profile.jpg' %}{% endif %}" width="300" height="300" style="border-radius: 10px" alt="" />
                    </div>
                    <div class="user-work">
                      <h4>Details</h4>
                      <div class="work-content">
                        <h3>{{ object.service_name }} </h3>
                        <p>{{ object.currency }} {{ object.amount }}</p>

                      </div>
                    </div>
                    <div class="user-work">
                      <h4>Bank Details</h4>
                      <div class="work-content">
                        <h3>{{ object.bank_name }} </h3>
                        <p>{{ object.account_number }}</p>

                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="user-profile-name styleName"><i>Pay with your popular payment choices</i></div>
                      <div class="row styleName">
                          <div class="col-md-3 col-sm-2"><img src="{% static 'images/mtnlogo.jpg' %}" height="80" width="100"></div>
                          <div class="col-md-3 col-sm-2"><img src="{% static 'images/airtellogo.jpg' %}" height="80" width="100"></div>
                          <div class="col-md-3 col-sm-2"><img src="{% static 'images/tigologo.png' %}" height="80" width="100"></div>
                          <div class="col-md-3 col-sm-2"><img src="{% static 'images/card.png' %}" height="80" width="100"></div>
                      </div>
                    <div class="custom-tab user-profile-tab">
                          <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                              <a href="#" aria-controls="1" role="tab" data-toggle="tab">Make Payment for {{ object.service_name }}</a>
                            </li>
                          </ul>
                        <br>
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="text-muted">Student Full Name</label>
                                <input type="text" name="{{ form.student_full_name.name }}" class="form-control input-rounded" required placeholder="Please enter the name of the student you are paying for" />
                            </div>
                            <div class="form-group">
                                <label class="text-muted">Student Index Number</label>
                                <input type="text" name="{{ form.student_id.name }}" required class="form-control input-rounded" placeholder="Please enter the index number the student you are paying for" />
                            </div>
                            <div class="form-group">
                              <label for="level" class="contact-title">Student Level:</label>
                              <select class="form-control input-rounded" required name="level">
                                  {% for x,y in form.fields.level.choices %}
                                    <option value="{{ x }}">{{ y }}</option>
                                  {% endfor %}
                              </select>
                            </div>
                            <div class="form-group">
                              <label for="student_programme">Student Programme of Study:</label>
                              <select class="form-control input-rounded" required name="student_programme">
                                  {% for x,y in form.fields.student_programme.choices %}
                                    <option value="{{ x }}">{{ y }}</option>
                                  {% endfor %}
                              </select>
                            </div>
                            <div class="form-group">
                                <label class="text-muted">Student Faculty</label>
                                <select class="form-control input-rounded" required name="{{ form.student_faculty.name }}">
                                      {% for x,y in form.fields.student_faculty.choices %}
                                        <option value="{{ x }}">{{ y }}</option>
                                      {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="text-muted">Amount</label>
                                <input type="number" name="{{ form.amount.name }}" required class="form-control input-rounded" placeholder="Please enter the amount you are paying" />
                            </div>
                            <div class="form-group">
                              <label class="contact-title">Payment Option:</label>
                                <select class="form-control input-rounded" required name="{{ form.pay_with.name }}">
                                      {% for x,y in form.fields.pay_with.choices %}
                                        <option value="{{ x }}">{{ y }}</option>
                                      {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                              <label class="contact-title">Mobile Number:</label>
                              <input type="text" class="form-control input-rounded" required name="{{ form.mobile_number.name }}" placeholder="Enter the mobile money number" />
                            </div>
{#                                {{ form.as_p }}#}
                            {% if form.non_field_errors %}
                                <ul class='form-errors'>
                                    {% for error in form.non_field_errors %}
                                        <li><span class="dz-error-message text-danger">{{ error }}</span></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            <input type="submit" class="btn btn-success" value="Next">
                        </form>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}