{% extends 'layout.html' %}
{% load static from staticfiles %}
{% load pay_tags %}
{% block header %}{{ object.service_name }} Details {% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <div class="user-profile">
                <div class="row">
                  <div class="col-lg-6 styleName">
                    <div class="user-photo m-b-30">
                      <img class="img-fluid" src="{% if object.logo %}{{ object.logo.url }}{% else %}{% static 'images/user-profile.jpg' %}{% endif %}" width="300" height="300" style="border-radius: 10px" alt="" />
                    </div>
                    <div class="user-work">
                      <h4>Details</h4>
                      <div class="work-content">
                        <h3>{{ object.service_name }} </h3>
                        <p>{{ object.currency }} {{ object.amount }}</p>
                      </div>
                    </div>
                    <div class="user-work">
                      <h4>Bank Details</h4>
                      <div class="work-content">
                        <h3>{{ object.bank_name }} </h3>
                        <p>{{ object.account_number }}</p>

                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="user-profile-name styleName"><i>Pay with your popular payment choices</i></div>
                      <div class="row styleName">
                          <div class="col-md-3 col-sm-3"><img src="{% static 'images/mtnlogo.jpg' %}" height="80" width="100"></div>
                          <div class="col-md-3 col-sm-3"><img src="{% static 'images/airtellogo.jpg' %}" height="80" width="100"></div>
                          <div class="col-md-3 col-sm-3"><img src="{% static 'images/tigologo.png' %}" height="80" width="100"></div>
                          <div class="col-md-3 col-sm-3"><img src="{% static 'images/card.png' %}" height="80" width="100"></div>
                      </div>
                    <div class="custom-tab user-profile-tab">
                          <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                              <a href="#1" aria-controls="1" role="tab" data-toggle="tab">Select Payment Option</a>
                            </li>
                          </ul>
                        <br>
                        <a href="{% url 'pay:pay-momo' object.id %}" class="card col-lg-5 col-sm-5 col-md-5"><img src="{% static 'images/mobile_money.jpg' %}" title="Pay with your MTN, Vodafone, Airtel and Tigo mobile money account" width="200" height="150" style="border-radius: 20px;" /> </a>
                        <a href="{% url 'pay:pay-card' object.id %}" class="card col-lg-5 col-sm-5 col-md-5"><img src="{% static 'images/card.png' %}" title="Pay with your Visa and MasterCard" width="200" height="150" style="border-radius: 20px" /> </a>
{#                          <div class="dropdown">#}
{#                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Payment#}
{#                                <span class="caret"></span></button>#}
{#                            <ul class="dropdown-menu">#}
{#                                <li><a href="{% url 'pay:pay-momo' object.id %}">Mobile Money</a></li>#}
{#                                <li><a href="#">Card Payment</a></li>#}
{##}
{#                            </ul>#}
{#                        </div>#}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}