{% extends 'layout.html' %}
{% block header %}Payment Completed{% endblock %}
{% block content %}
    <div class="row text-center">
        <div class="col-sm-12 col-sm-offset-3">
        <br><br> <h2 style="color:#0fad00">Success</h2>
        <img src="{{ object.service_to_pay.logo.url }}">
        <h3>Hi, {{ object.paid_by.get_full_name }}</h3>
            <p style="font-size:20px;color:#5C5C5C;">Your payment for {{ object.service_to_pay.service_name }} at <strong>{{ object.service_to_pay.currency }} {{ object.amount }} </strong>was successful.<br> A token has been sent to your account email address.<br>
            Thank you for using GTUC Pay!
            </p>
        <a href="{% url 'users:dashboard' %}" class="btn btn-dark">     Back to Dashboard      </a>
    <br><br>
        </div>

	</div>

{% endblock %}