{% extends 'layout.html' %}
{% load static from staticfiles %}
{% load humanize %}
{% block header %}Informal Receipt{% endblock %}
{% block css %}

{% endblock %}
{% block content %}
    <div class="container">
      <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-lg-4 col-sm-4" align="left">
                    <img src="{% static 'images/Picture1.png' %}" height="110" width="120">
                </div>
                <div class="col-lg-8 col-sm-5 styleName" align="center" style="margin-left: 15%; position: absolute">
                    <h4>Ghana Technology University College</h4>
                    <span class="text-muted">PMB 100 (ACCRA)</span>
                    <h5>OFFICIAL RECEIPT</h5>

                </div>
            </div>


        </div>
        <div class="card-body">
            <div class="row mb-4">
                <div class="col-lg-6 col-sm-6">

                </div>
                <div class="col-lg-6 col-sm-6" align="right">
                    <div >
                        <strong>Token no: {{ object.token }}</strong>
                    </div>
                    <div>Date: {{ object.paid_at }}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h6><i>Recieved From</i>: {{ object.student_full_name }}</h6>
                </div>
                <div class="col-lg-6">
                    <h6><i>Prog.Level: {{ object.get_student_programme_display }}, {{ object.level }}</i></h6>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-8">
                    <h6><i>The Sum of: {{ object.service_to_pay.currency }} {{ object.amount | apnumber | intcomma }}</i></h6>
                </div>
                <div class="col-lg-4">
                    <h6>Student Reg#: {{ object.student_id }}</h6>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-8">
                    <h6><i>being</i> : {% if object.balance == '0.00' %} Full payment of {% else %} Part payment of {% endif %} {{ object.service_to_pay.service_name }}</h6>
                </div>
                <div class="col-lg-4">
                    <h6>Balance: {{ object.service_to_pay.currency }}{{ object.balance }}</h6>
                </div>
            </div>
            <hr>
        </div>
      </div>
    </div>
{% endblock %}
