{% extends 'layout.html' %}
{% load humanize %}
{% load static from staticfiles %}

{% block header %}My Transactions{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-5 col-sm-5 col-lg-5 right-aligned">
                    <div class="input-group input-group-rounded">
                        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search full name..." name="Search" class="form-control">
                        <span class="input-group-btn small"><button class="btn btn-warning btn-group-right" type="submit"><i class="ti-search"></i></button></span>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <table id="myTable" class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Student Name</th>
                            <th>Student Index</th>
                            <th>Service</th>
                            <th>Payment Option</th>
                            <th>Amount</th>
                            <th>Paid At</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% if object_list %}
                        {% for pay in object_list %}
                            <tr>
                                <td>{{ pay.student_full_name }}</td>
                                <td>{{ pay.student_id }}</td>
                                <td>{{ pay.service_to_pay }}</td>

                                {% if pay.pay_with == 'MTN' %}
                                    <td class="center"><span><img src="{% static 'images/mtnlogo.jpg' %}" height="40" width="60"></span></td>
                                {% elif pay.pay_with == 'Voda' %}
                                    <td><span><img src="{% static 'images/vodalogo.jpg' %}" height="40" width="60"></span></td>
                                {% elif pay.pay_with == 'Tigo' %}
                                    <td><span><img src="{% static 'images/tigologo.png' %}" height="40" width="60"></span></td>
                                {% elif pay.pay_with == 'Air' %}
                                    <td><span><img src="{% static 'images/airtellogo.jpg' %}" height="40" width="60"></span></td>
                                {% elif pay.is_card == True %}
                                    <td><span><img src="{% static 'images/card.png' %}" height="40" width="60"></span></td>
                                {% endif %}
                                <td>{{ pay.amount | intcomma }}</td>
                                <td>{{ pay.paid_at | naturaltime }}</td>
                                <td><a href="{% url 'pay:transaction-detail' pay.id %}"><span class="ti-angle-double-right"></span></a> </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        This is no payment records
                    {% endif %}
                    </tbody>
                </table>
                <div align="right">
                    {% if is_paginated %}
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li><a href="?page={{ page_obj.previous_page_number }}"><span class="btn btn-success ti ti-angle-double-left"></span></a></li>
                        {% else %}
                            <li class="disabled"><span class="btn btn-dark ti ti-angle-double-left"></span></li>
                        {% endif %}
                        {% for i in paginator.page_range %}
                            {% if page_obj.number == i %}
                                <li class="active"><span class="btn btn-outline-dark">{{ i }} <span class="sr-only">(current)</span></span></li>
                            {% else %}
                                <li><a href="?page={{ i }}"><span class="btn btn-success">{{ i }}</span></a></li>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li><a href="?page={{ page_obj.next_page_number }}"><span class="btn btn-success ti ti-angle-double-right"></span></a></li>
                        {% else %}
                            <li class="disabled"><span class="btn btn-dark ti ti-angle-double-right"></span></li>
                        {% endif %}
                    </ul>
                {% endif %}
                </div>

            </div>
        </div>
    </div>

{% endblock %}
{% block js %}
    <script>
        function myFunction() {
          // Declare variables
          var input, filter, table, tr, td, i, txtValue;
          input = document.getElementById("myInput");
          filter = input.value.toUpperCase();
          table = document.getElementById("myTable");
          tr = table.getElementsByTagName("tr");

          // Loop through all table rows, and hide those who don't match the search query
          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
              txtValue = td.textContent || td.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }
          }
        }
    </script>
{% endblock %}